tensorboard
rich
coverage
pylint
setuptools_scm
torch-tb-profiler
pytorch-lightning
tensordict
pykalman
pytest
pytest-cov
torchmetrics
torchvision
jax
gitpython
black
h5py
netcdf4
git+https://codebase.helmholtz.cloud/m-dml/mdml-sim@main
git+https://codebase.helmholtz.cloud/m-dml/tridiag@main

sphinx<7.0.0
sphinx-autoapi
sphinx-typo3-theme # sphinx theme
